/*
Global
*/
body{
    font-size: 14px;
    background: #f3f3f3;
}

/*
Header
*/
.row .add-button, form .add-button, form .edit-button{
    margin: 10px 0 10px 0;
    float: right;
}


/*
Body
*/
ul li{
    list-style: none;
}

.success.button.small, .alert.button.small{
    min-width: 75px;
    margin: 0;
}

#loaderImg{
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    width: 100px;
    margin: 50px auto;
}

.editContactModal{
    display: block;
}


/*
Footer
*/