/*
Global
*/
body{
    font-size: 14px;
}

/*
Header
*/
.row .add-button, form .add-button {
    margin: 10px 0 10px 0;
    float: right;
}


/*
Body
*/
body ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
}

.success.button.small, .alert.button.small{
    min-width: 75px;
    margin: 0;
}

#displaySearch{
    display: none;
    position: absolute;
    top: 6%;
    width: 27.1%;
}


#displaySearch a{
    display: block;
    background: #ffffff;
    width:97%;
    padding: 1.5%;
    border: 1px solid black;
}

#loaderImg{
    display: none;
    position: absolute;
    top: 120px;
    left: 50%;
    width: 100px;
    margin: 50px auto;
}


/*
Footer
*/